@using BlazorServerLASViewer.Domains.Well;

<tr>
    <td>@quad.Name</td>
    <td>@quad.Mnemonic</td>
    <td>@quad.Units</td>
    <td>@quad.Value</td>
</tr>


@code {
    [Parameter]
    public LogHeaderQuadruple quad { get; set; }
}
